* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'phetsarath ot';
}
.card {
  margin-top: 5px;
}
.card-header {
  color: white;
}
.hidden {
  display: none;
}
.alert {
  margin-top: 5px;
}
.btn-end {
margin-left: 10px;
width: 200px;
}
