<div class="card card-main">
  <div class="card-header">
    ລາຍການອາຫານທັງໝົດຂອງ Q : {{ order.tick_number }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col col-md-5 ticket-div text-center">
        <div class="display-3">
          <div class="card shadow p-3 mb-5 bg-white rounded text-nowrap">
            <div class="card-body ">
              Q {{ order.tick_number }}
            </div>
          </div>
        </div>
        <span class="h4">{{ order.order_datetime | date: 'HH:mm:ss'}}</span>
      </div>
      <div class="col col-md-7">

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of orderDetails; index as i">
            <a class="h5 food-name">{{i + 1}}. {{ item.full_food_name }}</a>
            <a class="h5 float-center"> x {{ item.quantity }} {{ item.done }}</a>
            <ui-switch class="float-right" (valueChange)="takeit($event, item.detailId)" *ngIf="item.done == 'true';else noCheck"
              checked></ui-switch>
            <ng-template #noCheck>
              <ui-switch class="float-right" (valueChange)="takeit($event, item.detailId)"></ui-switch>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a>*ກວດສອບລາຍການໃຫ້ຖືກຕ້ອງກ່ອນມອບໃຫ້ລູກຄ້າ</a>
  </div>
</div>
