<div class="row">
  <div class="col col-sm-8">
    <div class="card">
      <div class="card-header">ລາຍການອາຫານທັງໝົດ <div class="float-sm-right">a</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="card col col-12 ">
            <div class="card-body ">
              <div class="form-group">
                <label for="inputSearch">ຄົ້ນຫາ</label>
                <input type="text" class="form-control" id="inputSearch" placeholder="ເຂົ້າຜັດ ...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4">
    <div class="card">
      <div class="card-header">ເພື່ມລາຍການອາຫານ</div>
      <div class="card-body">
        Hi
      </div>
    </div>
  </div>
</div>
