* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'phetsarath ot';
}

.card-header {
  background-color: black;
  color: white;
}
.kitchen-div {
  margin-left: 5px;
  min-width: 200px;
}
.hidden {
  display: none;
}
