* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'phetsarath ot';
}
.card-header{
  background-color: black;
  color: white;
  z-index: 50px;
}
.time-div {
  min-height: 50px;
}
.btn {
  margin-left: 5px;
}
