<div class="card">
  <div class="card-header">
    ລາຍການອາຫານທັງໝົດ
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <table class="table shadow p-3 mb-5 bg-light rounded">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" scope="col">Ticket</th>
                <th class="text-center" scope="col">ເວລາສັ່ງ</th>
                <th class="text-center" scope="col">ຜ່ານໄປແລ້ວ</th>
                <th class="text-center" scope="col">ສະຖານະ</th>
                <th class="text-center" scope="col">ສະຖານທີ່</th>
                <th class="text-center" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orderTracks ; index as i">
                <th class="text-center">
                  <h2><span class="badge badge-secondary dark">{{order.tick_number}}</span></h2>
                </th>
                <td class="text-center">{{ order.order_datetime | date: 'HH:mm:ss' }}</td>
                <td class="text-center">{{ order.time_passed | date: 'HH:mm:ss' }}</td>
                <td class="text-center">
                  <h4><span class="badge badge-secondary bg-warning">{{order.status}}</span></h4>
                </td>
                <td class="text-center">{{ order.location }}</td>
                <td>
                  <div class="row">
                    <div class="col col-md-3"><button type="button" class="btn btn-primary btn-block btn-cmd" (click)="openOrderDetail(order)">ກວດສອບລາຍການ</button></div>
                    <div class="col col-md-3"><button type="button" class="btn btn-warning btn-block btn-cmd" (click)="recieveFromKt(order.id, order.ticketId)">ຮັບຈາກຄົວແລ້ວ</button></div>
                    <div class="col col-md-3"><button type="button" class="btn btn-success btn-block btn-cmd" (click)="completeOrder(order.id, order.ticketId)">ສົ່ງແລ້ວ</button></div>
                    <div class="col col-md-3"><button type="button" class="btn btn-danger btn-block btn-cmd" (click)="cancelOrder(order.id, order.ticketId)">ຍົກເລີກ</button></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>
