* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'phetsarath ot';
}

.card-header {
  background-color: black;
  color: white;
}
.kitchen-div {
  margin-left: 5px;
  min-width: 200px;
}
.hidden {
  display: none;
}
.card-summary {
  margin: 10px;
  max-width: 300px;
}
.header-report {
margin-left: 10px;
}
.time-div {
height: 50px;
}
.user-div {
min-width: 300px;
}
.reportByfood-div {
  position: relative;
  max-height: 600px;
  overflow: auto;
}
